.calender-modal-container {
    width: 100%;
    height: 100%;
    .calender-modal-wrapper {
        top: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .calender-modal {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 900px;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;
        background-color: white;
        border-radius: 15px;
    }
}
