@import "./global-color.scss";
.calender-modal-right {
    width: 65%;
    background-color: white;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    .calender-current-year {
        font-size: 2rem;
        height: 15%;
        color: #363636;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 200px;
        span {
            margin: 0px 5px 0px 5px;
        }
    }
    table {
        width: 95%;
        height: 85%;

        th {
            font-size: 1.75rem;
            vertical-align: middle;
        }
        td {
            font-size: 1.5rem;
            border-radius: 50%;
            text-align: center;
            border-radius: 5px;
            transition: background-color 0.2s ease-in-out;
            cursor: pointer;
            &.sat {
                color: rgb(112, 112, 214);
            }
            &.sun {
                color: rgb(245, 126, 126);
            }
            &:hover {
                background-color: $graygreen;
            }
            &.focusDate {
                background-color: $green;
                font-weight: bold;
                color: white;
            }
        }
    }
}
